<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>论文模板列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webuploader/webuploader.css}">
    <style>
        #filePicker div{
            width: 118px!important;
            height: 37px!important;
        }
    </style>
    <script type="text/javascript" th:src="@{/webuploader/webuploader.js}"></script>
    <script type="text/javascript">
        $(function () {
            //新增
            $("#addThesisModel").click(function () {
                $('#addThesisModelModel').modal({
                    keyboard: false,
                    show:true
                })
            })
            //保存
            $("#save").click(function () {
                //论文模板备注
                var thesisModelRemark = $("#thesisModelRemark").val().trim();
                //论文模板类型
                var thesisModelType = $("#thesisModelType option:selected").val();
                //论文模板上传路径
                var thesisModelAddress = $("#thesisModelAddress").val();

                if(thesisModelType == -1){
                    alert("请选择论文模板类型");
                    return;
                }
                if(thesisModelAddress ==null ||thesisModelAddress == ""){
                    alert("请上传论文模板");
                    return;
                }
                if(thesisModelRemark.length > 200){
                    alert("论文模板备注多于200字，请重新输入");
                    return;
                }

                //查询条件
                var searchType = $("#searchType option:selected").val();
                var currentPage = $("#currentPage").val();

                var url = "/manager/addThesisModel?thesisModelRemark="+thesisModelRemark+"&thesisModelType="+thesisModelType+"&thesisModelAddress="+thesisModelAddress+"&method=add"
                    +"&currentPage="+currentPage+"&searchType="+searchType;
                $(".content").load(url);
                $(".modal-backdrop").remove();
            })
            //删除
            $(".deleteThesisModel").click(function () {
                var isDelete = confirm ("确定删除论文模板吗？");
                if(isDelete){
                    var id = $(this).parent().parent().children("td:eq(0)").text();
                    //查询条件
                    var searchType = $("#searchType option:selected").val();
                    var currentPage = $("#currentPage").val();
                    var url = "/manager/deleteThesisModel?thesisId=" + id
                        + "&currentPage="+currentPage+"&searchType="+searchType;
                    $(".content").load(url);
                }else{
                    return;
                }
            })
        });
        //查询的手动提交方式
        function search(currentPage) {
            var searchType = $("#searchType option:selected").val();
            if(currentPage == null){
                var currentPage = $("#currentPage").val();
            }else{
                var currentPage = currentPage;
            }
            var url = "/manager/thesisModelList?currentPage="+currentPage+"&searchType="+searchType;
            $(".content").load(url);
        }

        //文件上传插件
        var uploader = WebUploader.create({
            // swf文件路径
            swf: 'localhost:8080/webuploader/Uploader.swf',
            // 文件接收服务端。
            server: '/manager/fileUpload',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false
        });
        //文件选中后默认上传
        uploader.onFileQueued = function(file) {
            uploader.upload();
            console.log(file.size);
        }
        //文件上传后返回的处理
        uploader.on( 'uploadSuccess', function(file,res) {
            console.log(res)
            var thesisModelAddress = res.url;
            $("#thesisModelAddress").val(thesisModelAddress);
            alert("上传成功");
        });

        uploader.on( 'uploadError', function(file) {
            alert("上传失败，请重新上传");
            return;
        });

    </script>
</head>
<body>
<input type="hidden" name="currentPage" id="currentPage" th:value="${currentPage}">
<div class="modal-body">
    <div class="form-group row">
        <div class="col-xs-2">
            <label for="searchType">论文类型</label>
            <select class="myinput" name="searchType" id="searchType">
                <option value="-1" th:selected="${condition.type==-1}">全部</option>
                <option value="0" th:selected="${condition.type==0}">课题申请表</option>
                <option value="1" th:selected="${condition.type==1}">开题报告</option>
                <option value="2" th:selected="${condition.type==2}">任务书</option>
                <option value="3" th:selected="${condition.type==3}">中期报告</option>
                <option value="4" th:selected="${condition.type==4}">毕业设计</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary" id="search" value="查询" onclick="search(null)"/>
    </div>
</div>
<div class="modal-body">
    <a class="btn btn-default" href="#" role="button" id="addThesisModel" name="addThesisModel">论文模板上传</a>
</div>
<div class="modal-body">
    <table class="table table-hover table-bordered" style="text-align: center;">
        <thead>
        <tr>
            <th hidden>ID</th>
            <th>论文类型</th>
            <!--<th>论文下载地址</th>-->
            <th>论文第n次上传</th>
            <th>备注</th>
            <th>论文上传时间</th>
            <th>论文修改时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="thesis: ${thesisModelList}">
            <td th:text="${thesis.id}" hidden></td>
            <td th:text="${thesis.typeStr}"></td>
            <!--<td th:text="${thesis.thesisAddress}"></td>-->
            <td th:text="${thesis.count}"></td>
            <td th:text="${thesis.remark}"></td>
            <td th:text="${thesis.ctime!=null}?${#dates.format(thesis.ctime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${thesis.rtime!=null}?${#dates.format(thesis.rtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <a class="btn btn-default deleteThesisModel" href="#" role="button"  name="deleteThesisModel">删除</a>
                <a class="btn btn-default" th:href="@{/manager/download?(id=${thesis.id})}" role="button">下载</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--新增模态框插件-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="addThesisModelModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">上传模板文件</h4>
            </div>
            <div class="modal-body">
                <form action="/manager/thesisModelUpload" id="addForm" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="thesisModelType" class="control-label">模板类型:</label>
                        <select id="thesisModelType" name="thesisModelType" class="form-control">
                            <option value="-1">--请选择--</option>
                            <option value="0">课题申请表</option>
                            <option value="1">开题报告</option>
                            <option value="2">任务书</option>
                            <option value="3">中期报告</option>
                            <option value="4">毕业设计</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div id="uploader-demo">
                            <!--用来存放item-->
                            <div id="fileList" class="uploader-list"></div>
                            <div id="filePicker">选择论文模板</div>
                        </div>
                        <input id="thesisModelAddress" type="hidden" value="">
                    </div>
                    <div class="form-group">
                        <label for="thesisModelRemark" class="control-label">模板备注:</label>
                        <input type="text" class="form-control" id="thesisModelRemark" name="thesisModelRemark" required>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" id="save" value="提交">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--分页插件-->
<center th:if="${thesisModelList.size() != 0}">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:onclick="search([[${pm.startPage}]])"><a href="javascript:void(0);"><span>首页</span></a></li>
            <li th:onclick="search([[${pm.prePageNum}]])">
                <a href="javascript:void(0);" class="page" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="i : ${#numbers.sequence(1,pm.totalPageNum)}" th:onclick="search([[${i}]])">
                <a href="javascript:void(0);">
                    <span th:if="${i==pm.currentPageNum}" style = 'color:red;'>[[${i}]]</span>
                    <span th:if="${i!=pm.currentPageNum}">[[${i}]]</span>
                </a>
            </li>
            <li th:onclick="search([[${pm.nextPageNum}]])">
                <a href="javascript:void(0);" class="page" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li th:onclick="search([[${pm.endPage}]])"><a href="javascript:void(0);"><span>尾页</span></a></li>
        </ul>
    </nav>
</center>
</body>
<!--<script type="text/javascript" src="/manager/js/picture.js"></script>-->
</html>