<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <!--<script type="text/javascript" src="/static/manager/js/jquery.js"></script>-->
    <script type="text/javascript">
        $(function () {
            $("#save").click(function () {
                var password = $("#password").val().trim();
                var password1 = $("#password1").val().trim();
                var password2 = $("#password2").val().trim();

                if (password1 != password2) {
                    alert("两次密码输入不一致，请重新输入");
                    return;
                }

                var url = "/student/updatePassword?password=" + password + "&password1=" + password1 + "&password2=" + password2;
                $(".content").load(url);
            })
        })
    </script>
</head>
<body>
    <div class="modal-body" style="margin-left: 100px;padding-top: 80px; font-size: 20px;">
        <form  action="" method="post" id="form">
            <!--<input  type="hidden" id="id" name="userId" th:value="${session.user.id}">-->
            <div class="form-group row">
                <label for="password" class="control-label">原密码：</label>
                <input type="password" name="password" id="password" required>
            </div>
            <br>
            <div class="form-group row">
                <label for="password1" class="control-label">新密码：</label>
                <input type="password" name="password1" id="password1" required>
            </div>
            <br>
            <div class="form-group row">
                <label for="password2" class="control-label">重新输入新密码：</label>
                <input type="password" name="password2" id="password2">
            </div>
            <br>
            <div class="">
                <span th:text="${msg}" style="color: red"></span>
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="save">修改</button>
    </div>
</body>
</html>