<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息管理</title>
    <!--<script type="text/javascript" src="/static/manager/js/jquery.js"></script>-->
    <script type="text/javascript">
        $(function () {
            $("#save").click(function () {
                //真实名称
                var realname = $("#realname").val().trim();
                //性别
                var sex = $("input[name='sex']:checked").val();
                //联系电话
                var telphone = $("#telphone").val().trim();
                //邮箱
                var email = $("#email").val().trim();
                var thesisTitle = $("#thesisTitle").val();
                if (realname.length > 20) {
                    alert("真实名称多于20字，请重新输入");
                    return;
                }
                if (!(/^1[3|4|5|6|7|8][0-9]\d{8}$/.test(telphone))) {
                    alert("手机号格式错误，请重新输入");
                    return;
                }
                if (!(/^([0-9A-Za-z\-_\.]+)@([0-9a-z]+\.[a-z]{2,3}(\.[a-z]{2})?)$/g).test(email)) {
                    alert("邮箱格式错误，请重新输入");
                    return;
                }
                if(thesisTitle == null || thesisTitle == ""){
                    alert("论文题目不能为空，请重新输入");
                    return;
                }
                if (thesisTitle.trim().length < 5|| thesisTitle.trim().length > 50) {
                    alert("论文题目不符合，请在5-50字符之间重新输入");
                    return;
                }
                var url = "/student/updateUser?realname=" + realname + "&sex=" + sex + "&telphone=" + telphone + "&email=" + email + "&thesisTitle=" + thesisTitle;
                $(".content").load(url);
            })
        })
    </script>
</head>
<body>
    <div class="modal-body" style="margin-left: 100px;padding-top: 80px; font-size: 20px;">
        <form  action="" method="post" id="form">
            <!--<input  type="hidden" id="id" name="userId" th:value="${session.user.id}">-->
            <div class="form-group row">
                <label for="username" class="control-label">用户名：</label>
                <input type="text" name="username" id="username" required th:value="${session.user.username}" disabled>
            </div>
            <br>
            <div  class="form-group row">
                <label for="realname" class="control-label">真实姓名：</label>
                <input type="text" name="realname" id="realname" required th:value="${session.user.realname}">
            </div>
            <br>
            <div>
                <div class="form-group row">
                    <label  class="control-label">性&nbsp;别&nbsp;：</label>
                    <input id="man" type="radio"  name="sex"  value="0" th:checked="${session.user.sex==0}"/>男&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="woman" type="radio"  name="sex"  value="1" th:checked="${session.user.sex==1}"/>女
                </div>
                <br>
                <div  class="form-group row">
                    <label for="telphone" class="control-label">电&nbsp;话&nbsp;：</label>
                    <input type="text" name="telphone" id="telphone" required th:value="${session.user.telphone}">
                </div>
                <br>
            </div>
            <div class="form-group row">
                <label for="email" class="control-label">邮&nbsp;箱&nbsp;：</label>
                <input type="email" name="email" id="email" required th:value="${session.user.email}">
            </div>
            <div class="form-group row">
                <label for="thesisTitle" class="control-label">论文题目：</label>
                <input type="text" name="thesisTitle" id="thesisTitle" required th:value="${session.user.thesisTitle}">
            </div>
            <div class="form-group row">
                <label for="ctime" class="control-label">注册时间：</label>
                <input type="text" name="ctime" id="ctime" required th:value="${#dates.format(session.user.ctime, 'yyyy-MM-dd HH:mm:ss')}" disabled>
            </div>
            <div class="form-group row">
                <label for="rtime" class="control-label">修改时间：</label>
                <input type="text" name="rtime" id="rtime" required th:value="${#dates.format(session.user.rtime, 'yyyy-MM-dd HH:mm:ss')}" disabled>
            </div>
            <!--<div class="form-group row">
                <input type="submit" value="修改" class="btn btn-primary"/>
            </div>-->
        </form>
        <button type="button" class="btn btn-primary" id="save">修改</button>
    </div>
</body>
</html>