<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.thesismanager.mapper.StudentMapper">
    <insert id="insertStudent" parameterType="org.lanqiao.thesismanager.pojo.Student">
        insert into tb_student (username,password,realname,sex,telphone,email,state,ctime,tid) values (#{username},#{password},#{realname},#{sex},#{telphone},#{email},#{state},now(),#{tId})
    </insert>
    <select id="selectStudentListByCondition" resultType="org.lanqiao.thesismanager.pojo.Student" parameterType="org.lanqiao.thesismanager.pojo.Condition">
        select * from tb_student
        <if test="condition != null">
            <where>
                <if test="username != null &amp;&amp; username != ''">
                    and username like concat ('%', #{username}, '%')
                </if>
                <if test="realname != null &amp;&amp; realname != ''">
                    and realname like concat ('%', #{realname}, '%')
                </if>
                <if test="state != -1">
                    and state=#{state}
                </if>
                <if test="state == -1">
                    and state!=2
                </if>
                <if test="tId != -1">
                    and tid=#{tId}
                </if>
            </where>
            <if test="currentPage != null">
                limit #{currentPage}, #{pageSize}
            </if>
        </if>
    </select>
    <select id="selectStudentCountByCondition" resultType="int" parameterType="org.lanqiao.thesismanager.pojo.Condition">
        select count(1) from tb_student
        <where>
            <if test="username != null &amp;&amp; username != ''">
                and username like concat ('%', #{username}, '%')
            </if>
            <if test="realname != null &amp;&amp; realname != ''">
                and realname like concat ('%', #{realname}, '%')
            </if>
            <if test="state != -1">
                and state=#{state}
            </if>
            <if test="state == -1">
                and state!=2
            </if>
            <if test="tId != -1">
                and tid=#{tId}
            </if>
        </where>
    </select>

    <update id="updateStudent" parameterType="org.lanqiao.thesismanager.pojo.Student">
        update tb_student set
        <if test="username != null &amp;&amp; username != ''">
            username=#{username},
        </if>
        <if test="realname != null &amp;&amp; realname != ''">
            realname=#{realname},
        </if>
        <if test="state != null">
            state=#{state},
        </if>
        <if test="sex != null">
            sex=#{sex},
        </if>
        <if test="telphone != null &amp;&amp; telphone != ''">
            telphone=#{telphone},
        </if>
        <if test="email != null &amp;&amp; email != ''">
            email=#{email},
        </if>
        <if test="thesisTitle != null &amp;&amp; thesisTitle != ''">
            thesistitle=#{thesisTitle},
        </if>
        <if test="tId != null &amp;&amp; tId != ''">
            tid=#{tId},
        </if>
        rtime=now() where id=#{id}
    </update>

    <select id="selectStudentById" parameterType="int" resultType="org.lanqiao.thesismanager.pojo.Student">
        select * from tb_student where id=#{id}
    </select>

    <select id="selectStudentByName" parameterType="string" resultType="org.lanqiao.thesismanager.pojo.Student">
        select * from tb_student where username=#{username}
    </select>

    <update id="enableStudentById" parameterType="int">
        update tb_student set state=0,rtime=now() where id=#{id}
    </update>
    <update id="disableStudentById" parameterType="int">
        update tb_student set state=1,rtime=now() where id=#{id}
    </update>
    <update id="deleteStudentById" parameterType="int">
        update tb_student set state=2,rtime=now() where id=#{id}
    </update>
    <update id="updatePassword" parameterType="org.lanqiao.thesismanager.pojo.Student">
        update tb_student set password=#{password},rtime=now() where id=#{id}
    </update>

    <select id="selectStudent" resultType="org.lanqiao.thesismanager.pojo.Student" parameterType="org.lanqiao.thesismanager.pojo.Student">
        select * from tb_student where username=#{username} and password=#{password}
    </select>
    <select id="selectStudentListByTId" resultType="org.lanqiao.thesismanager.pojo.Student" parameterType="int">
        select * from tb_student where tid = #{tId}
    </select>

</mapper>