<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.thesismanager.mapper.ThesisMapper">

    <select id="selectMaxValue" parameterType="org.lanqiao.thesismanager.pojo.Thesis" resultType="int">
        SELECT ifnull(MAX(count),0) FROM tb_thesis WHERE 1=1
        <if test="tId != null">
            AND tid = #{tId}
        </if>
        <if test="sId != null">
            AND sid=#{sId}
        </if>
        AND type=#{type}
    </select>
    <insert id="insertThesisModel" parameterType="org.lanqiao.thesismanager.pojo.Thesis">
        insert into tb_thesis (sid,thesisaddress,remark,count,state,type,ctime) values (0,#{thesisAddress},#{remark},#{count},0,#{type},now())
    </insert>
    <select id="selectThesisModelList" resultType="org.lanqiao.thesismanager.pojo.Thesis" parameterType="org.lanqiao.thesismanager.pojo.Condition">
        select * from tb_thesis where sid = 0 and state = 0
        <if test="type != -1">
            and type=#{type}
        </if>
        order by ctime desc
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>
    <select id="selectThesisModelCount" resultType="int" parameterType="org.lanqiao.thesismanager.pojo.Condition">
        select count(1) from tb_thesis where sid = 0 and state = 0
        <if test="type != -1">
            and type=#{type}
        </if>
    </select>

   <!-- <update id="updateTeacher" parameterType="org.lanqiao.thesismanager.pojo.Teacher">
        update tb_teacher set username=#{username},realname=#{realname},state=#{state},sex=#{sex},rtime=now(),telphone=#{telphone},email=#{email} where id=#{id}
    </update>

    <select id="selectTeacherById" parameterType="int" resultType="org.lanqiao.thesismanager.pojo.Teacher">
        select * from tb_teacher where id=#{id}
    </select>

    <update id="enableTeacherById" parameterType="int">
        update tb_teacher set state=0,rtime=now() where id=#{id}
    </update>
    <update id="disableTeacherById" parameterType="int">
        update tb_teacher set state=1,rtime=now() where id=#{id}
    </update>-->
    <update id="deleteThesisById" parameterType="int">
        update tb_thesis set state=1,rtime=now() where id=#{id}
    </update>
</mapper>