<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.thesismanager.mapper.ThesisMapper">

    <select id="selectMaxValue" parameterType="org.lanqiao.thesismanager.pojo.Thesis" resultType="int">
        SELECT ifnull(MAX(count),0) FROM tb_thesis WHERE type=#{type}
        <if test="commitType == 0">
            AND committype = #{commitType}
        </if>
        <if test="commitType != 0">
            AND committype = #{commitType} AND sid = #{sId}
        </if>
    </select>
    <insert id="insertThesisModel" parameterType="org.lanqiao.thesismanager.pojo.Thesis">
        insert into tb_thesis (committype,thesisaddress,remark,count,state,type,ctime) values (0,#{thesisAddress},#{remark},#{count},0,#{type},now())
    </insert>
    <select id="selectThesisModelList" resultType="org.lanqiao.thesismanager.pojo.Thesis" parameterType="org.lanqiao.thesismanager.pojo.Condition">
        select * from tb_thesis where committype = 0 and state = 0
        <if test="type != -1">
            and type=#{type}
        </if>
        order by ctime desc
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>
    <select id="selectThesisModelCount" resultType="int" parameterType="org.lanqiao.thesismanager.pojo.Condition">
        select count(1) from tb_thesis where committype = 0 and state = 0
        <if test="type != -1">
            and type=#{type}
        </if>
    </select>

   <!-- <update id="updateTeacher" parameterType="org.lanqiao.thesismanager.pojo.Teacher">
        update tb_teacher set username=#{username},realname=#{realname},state=#{state},sex=#{sex},rtime=now(),telphone=#{telphone},email=#{email} where id=#{id}
    </update>

    <select id="selectTeacherById" parameterType="int" resultType="org.lanqiao.thesismanager.pojo.Teacher">
        select * from tb_teacher where id=#{id}
    </select>

    <update id="enableTeacherById" parameterType="int">
        update tb_teacher set state=0,rtime=now() where id=#{id}
    </update>
    <update id="disableTeacherById" parameterType="int">
        update tb_teacher set state=1,rtime=now() where id=#{id}
    </update>-->
    <update id="deleteThesisById" parameterType="int">
        update tb_thesis set state=1,rtime=now() where id=#{id}
    </update>

    <insert id="insertThesis" parameterType="org.lanqiao.thesismanager.pojo.Thesis">
        insert into tb_thesis (committype,thesisaddress,remark,count,state,type,
        <if test="tId != null">
            tid,
        </if>
        <if test="sId != null">
            sid,
        </if>
        ctime) values (#{commitType},#{thesisAddress},#{remark},#{count},0,#{type},
        <if test="tId != null">
            #{tId},
        </if>
        <if test="sId != null">
            #{sId},
        </if>
        now())
    </insert>

    <select id="selectStudentThesisList" resultType="org.lanqiao.thesismanager.pojo.Thesis" parameterType="org.lanqiao.thesismanager.pojo.Condition">
        select * from tb_thesis where state = 0 and sid = #{sId}
        <if test="type != -1">
            and type=#{type}
        </if>
        <if test="commitType != -1">
            and committype=#{commitType}
        </if>
        <if test="commitType == -1">
            and committype!=0
        </if>
        order by ctime desc
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>
    <select id="selectStudentThesisCount" resultType="int" parameterType="org.lanqiao.thesismanager.pojo.Condition">
        select count(1) from tb_thesis where  state = 0 and sid = #{sId}
        <if test="type != -1">
            and type=#{type}
        </if>
        <if test="commitType != -1">
            and committype=#{commitType}
        </if>
        <if test="commitType == -1">
            and committype!=0
        </if>
    </select>

    <select id="selectTeacherThesisList" resultType="org.lanqiao.thesismanager.pojo.Thesis" parameterType="org.lanqiao.thesismanager.pojo.Condition">
        select * from tb_thesis where state = 0 and tid = #{tId}
        <if test="type != -1">
            and type=#{type}
        </if>
        <if test="commitType != -1">
            and committype=#{commitType}
        </if>
        <if test="commitType == -1">
            and committype!=0
        </if>
        <if test="sId != -1">
            and sid=#{sId}
        </if>
        order by ctime desc
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>
    <select id="selectTeacherThesisCount" resultType="int" parameterType="org.lanqiao.thesismanager.pojo.Condition">
        select count(1) from tb_thesis where  state = 0 and tid = #{tId}
        <if test="type != -1">
            and type=#{type}
        </if>
        <if test="commitType != -1">
            and committype=#{commitType}
        </if>
        <if test="commitType == -1">
            and committype!=0
        </if>
        <if test="sId != -1">
            and sid=#{sId}
        </if>
    </select>
  <!--  <insert id="insertThesis" parameterType="org.lanqiao.thesismanager.pojo.Thesis">
        insert into tb_thesis (tid,sid,committype,thesisaddress,remark,count,state,type,ctime) values (#{tId},#{sId},#{commitType},#{thesisAddress},#{remark},#{count},0,#{type},now())
    </insert>-->

    <select id="selectThesisUrl" parameterType="int" resultType="string">
        select thesisaddress from tb_thesis where id = #{id}
    </select>
</mapper>