<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>论文管理系统首页</title>
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <style type="text/css">
        .image{
            background-image: url("img/indeximage.jpg");
            background-size: 100%,100%;
        }
    </style>
</head>
<body class="image">
    <div style="width: 815px;margin: 200px auto;color: #1a2a4b"><h1 style="font-size: 80px">欢迎进入论文管理系统</h1></div>
    <div style="width: 230px"><a class="btn btn-info" href="/manager/login" style="font-size: 65px;position: absolute;left: 405px;top: 450px" >管理员登录</a></div>
    <div style="width: 230px"><a class="btn btn-success"  href="/teacher/login" style="font-size: 65px;position: absolute;right: 768px;top: 450px">教师登录</a></div>
    <div style="width: 230px"><a class="btn btn-success" href="/student/login" style="font-size: 65px;position: absolute;right: 405px;top: 450px">学生登录</a></div>
</body>
</html>